<%-include("partials/header.ejs")-%>
<h1>Introduction</h1>
<p><%=homeContent%></p>
<% for(let i=0;i<posts.length;i++) { %>
    <h1><%=(posts[i].title)%></h1>
    <p><%=(posts[i].content.slice(0,101))%> ... </p>
    <a href="/posts/<%=posts[i].title%>">Read Full Blog</a>
    <%};%> 
<!-- the error was because of the spellings og LENGTH  -->
<%-include("partials/footer.ejs")-%>

<!-- <button class="btnBtnbtn">click</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".btnBtnbtn").on('click',function(){ 
        alert("jqeury working ")
    });
</script> -->
<!-- this is how to work with jquery while using ejs  -->